ai_tnhn/ai-api-tnhn/docker/
ai_tnhn/ai-api-tnhn/config/env.go
ai_tnhn/ai-api-tnhn/config/gen-lang-client-0018780629-a6ac17cdfc0a.json
ai_tnhn/ai-api-tnhn/logs/
ai_tnhn/ai-api-tnhn/*.log
ai_tnhn/ai-api-tnhn/cmd/up_to_server/

# deployment output
deploy/
docker/
*.json
ai_tnhn/ai-api-tnhn/main
ai_tnhn/ai-api-tnhn/uploads/
# sensor-data submodule
sensor-data/**/node_modules/
sensor-data/backend/server
sensor-data/frontend/dist/